fastapi==0.63.0
uvicorn==0.13.3
aiofiles
python-multipart
fastapi_chameleon

starlette==0.13.6
SQLAlchemy==1.3.22
progressbar2
python-dateutil
passlib


fastapi
uvicorn
fastapi_chameleon
aiofiles
python-multipart
starlette
jinja2 == 3.0.0
librosa
numpy
pandas
pydub
sklearn
matplotlib
torch
soundfile
scipy
IPython
transformers
python-multipart
pytest-shutil
orjson
gunicorn



